---
import Header from "../components/header/header";
import Hero from "../components/hero/hero";
import "./index.module.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/zil5gof.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header client:load></Header>
		<Hero></Hero>
	</body>
</html>
