.container {
  position: relative;
  border: 8px solid white;
  width: 130px;
  height: 180px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1;
  grid-template-rows: 1 1;
  user-select: none;
  text-decoration: none;
  overflow: hidden;
  background-color: rgba($color: #000000, $alpha: 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: 0.3s;


  &:hover  > .overlay_left {
    top: 0;
  }

  &:hover > .overlay_right {
    bottom: 0;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.abbreviation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 4rem;
  color: white;
  mix-blend-mode: difference;
  text-align: center;
  font-weight: 500;
  flex: 1;
  z-index: 2;
  grid-row-start: 1;
}

.text {
  font-size: 1rem;
  color: white;
  margin: 0;
}

.top {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text {
  text-decoration: none;
  grid-row-start: 1;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  mix-blend-mode: difference;
  text-align: center;
  flex: 1;
  z-index: 2;
  grid-row-start: 2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: 0.3s ease-in-out;
  
}

.overlay_left {
  top: -100%;
  left: 0;
  border-radius: 0 0 1000px 1000px;
}

.overlay_right {
  bottom: -100%;
  right: 0;
  border-radius: 1000px 1000px 0 0;
}