---
import { Image } from "astro:assets";

interface Props {
  link: string;
  title: string;
  description: string;
  picture: string;
}

const { title, link, picture, description } = Astro.props;
---

<a href={link} class="container">
  <img class="picture" src={`/assets/project-icons/${picture}`} alt="hello" />
  <div class="content">
    <h3 class="title">{title}</h3>
    <p class="description">{description}</p>
  </div>
</a>

<style lang="scss">
  .container {
    @media (max-width: 1200px) {
      height: 150px;
      margin: 20px 0 20px 0;
      padding: 0 20px;
      width: 100%;
      box-sizing: border-box;
    }

    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 50px;
    transition: 0.3s ease-in-out;
    padding: 10px;
    border-radius: 11px;
  }

  .container:hover > .content {
    filter: invert(1);
  }

  .container:hover > .picture {
    transform: scale(1.1);
  }

  .container:hover {
    transform: scale(1.1);
    background-color: white;
    padding: 0;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .picture {
    transition: 0.3s ease-in-out;
    height: 100%;
    aspect-ratio: 1;
    margin-right: 20px;
    border-radius: 10px;
  }

  .title {
    font-size: 30px;
    text-align: left;
    text-overflow: ellipsis ellipsis;
    
    @media (max-width: 1200px) {
      font-size: 20px;
      margin: 0;
    }
  }

  .description {
    display: block;
    margin: 5px 0 0 0;
    overflow: hidden;
    flex: 1;
}
</style>
