---
import { Image } from "astro:assets";
import Pic from "./profile-pic.jpg";
import DownloadButton from "../download-button/download-button.astro"
---
<div class="profile">
  <Image class="picture" src={Pic} alt="Profile picture of a very handsome young man in full suit during a christmas dinner" />
  <h2 class="name">Jort Willemsen</h2>
  <DownloadButton title="Download CV" link="/docs/Curriculum_Vitae.pdf"/>
  <p>
    Hi I am Jort and I created Tungstun to express my creativity to the world and help other people with their digital struggles.
    This can include things like creating a website, designing a logo, developing software solutions or building a personal (gaming) computer!
    <br> <br>
    I love learning, therefore after graduating with a bachelors degree in software engineering from the Utrecht University of Applied Sciences (HU) I wanted to continue my studies
    by entering a computing science masters program at Utrecht University. This will help to specilize my knownledge of computer programming to the more theoretical side compared to the more practical courses at the HU.
    <br> <br>
    During my spare time I really like photography, watching movies and learning about really intersting things such as space, physics and all other kinds of things that grab my attention! 
    Just shoot a message if you think we could do a project together. In the meantime just take a look around this piece of my mind :D
  </p>
</div>

<style lang="scss">
  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .name {
    font-size: 45px;
    color: white; 
  }

  .picture {
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    border-radius: 500px;
  }
</style>