@use "../../variables.scss";

.container {
  position: relative;
  z-index: 5;
  clip: url(#title-clip);

  &:hover > .title__top {
    transform: translate(-50%, -100%);
    opacity: 1;
  }

  &:hover > .title__bottom {
    transform: translate(-50%, 0%);
    opacity: 1;
  }

  &:hover .title_clip {
    width: 800px;
    height: 800px;
  }

  @media (max-width: variables.$mobile-cutoff) {
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }
}

.title_clip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: 0.3s ease-in-out;

  @media (max-width: variables.$mobile-cutoff) {
    display: none;
  }
}

.title {
  font-size: 8rem;
  transition: 0.3s ease-in-out;
  color: white;

  @media(max-width: variables.$mobile-cutoff) {
    font-size: 3rem;
  }

  &__white {
    position: relative;
    font-weight: bold;
  }

  &__top,
  &__bottom {
    opacity: 0;
    height: 200px;
    box-sizing: border-box;
    margin: 100px 0;
    user-select: none;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: variables.$mobile-cutoff) {
      display: none;
    }
  }

  &__top {
    font-family: "oskar-inline", serif;

    @media(max-width: variables.$mobile-cutoff) {
      transform: translate(-50%, -100%);
      height: 100px;
    }
  }

  &__bottom {
    font-family: "voltage", serif;
    
    @media(max-width: variables.$mobile-cutoff) {
      transform: translate(-50%, 0%);
      height: 100px;
    }
  }
}
