@use "../../variables.scss";

.container {
  position: relative;
  width: 100%;
  height: calc(100vh);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: variables.$mobile-cutoff) {
    justify-content: flex-start;
    height: 100vh;
    margin-bottom: 0;
  }
}

.socials {
  display: grid;
  z-index: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

  @media (max-width: variables.$mobile-cutoff) {
    grid-template-columns: 1fr 1fr;
    transform: scale(0.8);
  }
}

.blobs {
  width: calc(100%);
  height: fit-content;
  position: fixed;
  z-index: 0;
  bottom: 0;
  transform: translateY(40%);

  @media (max-width: variables.$mobile-cutoff) {
    display: none;
  }
}

.mobileBlobs {
  width: calc(100%);
  height: fit-content;
  position: fixed;
  z-index: 0;
  bottom: 0;
  transform: translateY(60%);

  @media (min-width: variables.$mobile-cutoff) {
    display: none;
  }
}
