.container {
  position: relative;
  width: 100%;
  height: calc(100vh);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.socials {
  display: grid;
  z-index: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.blobs {
  width: calc(100%);
  height: fit-content;
  position: absolute;
  z-index: 0;
  bottom: -500px;
}
