@use "../../variables.scss";

.container {
  position: relative;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: variables.$mobile-cutoff) {
    margin-bottom: 150px;
  }
}

.title {
  color: white;
  font-weight: 800;
  z-index: 3;
  font-size: 3rem;
}