---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/header/header";
import Hero from "../components/hero/hero";
import Title from "../components/title/title";
---
<html transition:animate="fade" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/zil5gof.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tungstun</title>
    <ViewTransitions />
  </head>
  <body>
    <Header client:load />
    <Hero />
  </body>
</html>
