---
import { ViewTransitions } from 'astro:transitions';
import Page from "../components/page/page";
import Header from "../components/header/header";
import "./index.scss";

---

<html transition:animate="fade" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/zil5gof.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tungstun | Projects
    </title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <Page />
  </body>
</html>
