@use "../../variables.scss";

.container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  z-index: 99;
  background-color: rgba($color: #000000, $alpha: 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  @media (max-width: variables.$mobile-cutoff) {
    height: 70px;
  }
}

.icon {
  display: none;
  cursor: pointer;

  @media (max-width: variables.$mobile-cutoff) {
    display: block;
    height: 50px;
    aspect-ratio: 1;
  }
}

.page_title {
  font-size: 3rem;
  margin-left: 20px;

  @media (max-width: variables.$mobile-cutoff) {
    margin: 0 0 0 10px;
    font-size: 1.4rem;
  }
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 30px;
  display: inline-block;
  position: relative;
  color: white;
  z-index: 2;

  @media (max-width: variables.$mobile-cutoff) {
    display: none;
  }

  &:after {
    content: "";
    z-index: 1;
    position: absolute;
    width: 100%;
    transform: scaleY(0);
    height: 100%;
    bottom: 0;
    mix-blend-mode: difference;

    left: 0;
    background-color: white;
    transform-origin: top right;
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleY(1);
    transform-origin: top left;
  }

  &:hover {
    cursor: pointer;
  }
}

.menuButton {
  cursor: pointer;
}

.menu {
  margin-left: auto;

  @media (max-width: variables.$mobile-cutoff) {
    &__open {
      & > .menu__links {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        bottom: -100vh;
        left: 0;

        flex-direction: column;
        top: 100px;
        background-color: rgba($color: #000000, $alpha: 0.6);
        backdrop-filter: blur(20px);
      }
    }

    & > div {
      cursor: pointer;
    }
  }

  &__links {
    margin-top: auto;
    width: fit-content;

    & > a {
      font-size: 3rem;
      font-weight: 500;
      margin-left: 30px;
      display: inline-block;
      position: relative;
      width: fit-content;
      color: white;
      z-index: 2;

      &:after {
        content: "";
        z-index: 1;
        position: absolute;
        width: 100%;
        transform: scaleY(0);
        height: 100%;
        bottom: 0;
        mix-blend-mode: difference;

        left: 0;
        background-color: white;
        transform-origin: top right;
        transition: transform 0.25s ease-out;
      }

      &:hover:after {
        transform: scaleY(1);
        transform-origin: top left;
      }

      &:hover {
        cursor: pointer;
      }
    }

    @media (max-width: variables.$mobile-cutoff) {
      display: none;
    }
  }

  &__icon {
    display: none;
    width: 40px;
    height: 40px;
    transform: scale(1.2);
    &:hover {
      cursor: pointer;
    }

    @media (max-width: variables.$mobile-cutoff) {
      display: block;
    }
  }
}
