.container {
  position: relative;
  border: 8px solid white;
  width: 120px;
  height: 160px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1 1;
  user-select: none;
  text-decoration: none;
  overflow: hidden;

  &:hover  > .overlay_left {
    bottom: 0;
  }

  &:hover > .overlay_right {
    top: 0;
  }
}

.abbreviation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 4rem;
  color: white;
  mix-blend-mode: difference;
  text-align: center;
  flex: 1;
  z-index: 2;
  grid-row-start: 1;
}

.text {
  font-size: 1rem;
  color: white;
  margin: 0;
}

.top {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text {
  text-decoration: none;
  grid-row-start: 1;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  mix-blend-mode: difference;
  text-align: center;
  flex: 1;
  z-index: 2;
  grid-row-start: 2;
}

.overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.overlay_left {
  bottom: calc(100%);
  left: 0;
}

.overlay_right {
  top: calc(100%);
  right: 0;
}