---
import TungstunGrayScale from "./tungstun-grayscale.png";
import { Image } from "astro:assets";
---
<footer class="footer">
  <Image class="logo" src={TungstunGrayScale} alt="" />
  <hr class="divider"/>
  <div class="info">
    <div class="left">
      Tungstun<br>
      Utrecht, The Netherlands
    </div>
    <div class="middle">
      E - jort@tungstun.nl<br>
      I - www.tungstun.nl
    </div>
    <div class="right">
      BTW NL003391342B15<br>
      K.v.K 80087639
    </div>
  </div>
</footer>

<style lang="scss">
  .footer {
    color: #c8c8c8;
    width: 100vw;
    height: 300px;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 1200px) {
      height: 500px;
    }
  }

  .logo {
    width: 200px;
    opacity: 0.2;
    height: fit-content;
    object-fit: contain;
  }

  .divider {
    width: 50%;
    margin-bottom: 50px;
  }

  .info {
    @media (max-width: 1200px) {
      flex-direction: column;
      height: 300px;
      width: 100%;
    }

    display: flex;
    text-align: center;
    width: 50%;
    justify-content: space-between;
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }
  }
</style>