---
import Header from "../header/header.tsx";
import Footer from "../footer/footer.astro";
import  SpeedInsights  from "@vercel/speed-insights/astro"

interface Props {
  title: string;
  centered: boolean;
  children: any;
  tagline?: string;
}

const { title, centered, children, tagline } = Astro.props;
---

<div class="page">
  <SpeedInsights />
  <Header title={title} client:load />
  <div class="container">
    <slot />
  </div>
  <Footer />
</div>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    box-sizing: border-box;
    max-width: 1000px;
    margin-top: 100px;
    height: fit-content;
    min-height: calc(100vh - 100px);
    width: 100%;
    color: #c8c8c8;
    margin-bottom: 30px;

    @media (max-width: 1200px) {
      margin-top: 70px;
      padding: 0px 30px;
    }
  }

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    min-height: 100vh;
  }
</style>
