---
import Page from "../components/page/page.tsx";

const { frontmatter } = Astro.props;
---

<html>
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/zil5gof.css" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <!-- ... -->
  <Page title={frontmatter.title}>
    <div class="tags">
      {frontmatter.tags.map((tag: string) => <div class="tag">{tag}</div>)}
    </div>
    <div class="content"><slot /></div>
  </Page>

</html>

<style>
  .tags {
    display: flex;
  }

  .content {
    font-size: 20px;
  }

  .tag {
    font-size: 20px;
    margin-right: 15px;
    background-color: #82CAC2;
    padding: 5px 10px;
    border-radius: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
</style>
