---
import Page from "../components/page/page.tsx";

const { frontmatter } = Astro.props;
---

<html>
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/zil5gof.css" />
    <link rel="stylesheet" href="/styles/global.scss" />
  </head>
  <!-- ... -->
  <Page title={frontmatter.title}>
    <div class={}>
      {frontmatter.tags.map((tag) => <div>{tag}</div>)}
    </div>
    <slot />
  </Page>

</html>
